.env

#ignore most of what is in src
src/*
!src/.gitkeep
!src/apps/README.md
!src/plugins/README.md
!src/services/README.md
!src/services/README.md
!src/metrics/README.md
config/fieldsets/initdb/*
!config/fieldsets/initdb/00-init-db.sh
!config/fieldsets/initdb/README.md


# Editor output
.vscode/
.editorconfig

# Local Netlify folder
.netlify
