.env

#ignore most of what is in src
src/*
!src
!src/.gitkeep
!src/apps
src/apps/*
!src/apps/README.md
!src/plugins
src/plugins/*
!src/plugins/README.md
!src/scrapers
src/scrapers/*
!src/services/README.md
!src/services
src/services/*
!src/services/README.md
!src/metrics
src/metrics/*
!src/metrics/README.md
config/fieldsets/initdb/*
!config/fieldsets/initdb/00-init-db.sh
!config/fieldsets/initdb/README.md


# Editor output
.vscode/
.editorconfig

# Local Netlify folder
.netlify
