#!/usr/bin/env bash
# Copy this file to .env in this directory. These are all default values (unless specified in an adjacent comment otherwise) and will be set even if not defined in .env

# Fieldsets Version. Version Numbering TBD.
VERSION="latest"
ENVIRONMENT="dev-local"
CONTAINER_REGISTRY="fieldsets" # Can set to DNS of registry host

# Set these to false on production to enable only pipeline events to the log
ENABLE_DEBUG_MODE="true"
ENABLE_LOGGING="false"

# Local user ids to manage permissions
# Use `id -u` and `id -g` on a mac

LOCAL_UID=1000
LOCAL_GID=1000

# Valid Time Zone strings found here https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TIMEZONE=America/New_York

# PATH Variables
FIELDSETS_SRC_PATH="./src/"
FIELDSETS_LIB_PATH="./lib/"
FIELDSETS_PLUGINS_PATH="./plugins/"

# Fieldsets Local Network Configuration
FIELDSETS_LOCAL_CONFIG_PATH=./
FIELDSETS_LOCAL_HOST=172.28.0.6
FIELDSETS_NETWORK_SUBNET=172.28.0.0/24

# Set to true if you'd like to connect to the container CLI. Otherwise the container will exit upon command completeion.
# Set to true if you'd like to use this as a local work environment.
ENABLE_TERMINAL="true"

# Event Logger
LOGGER_HOST="172.28.0.2"
LOGGER_PORT="24224"

#####
# FIELDSETS_LOCAL REMOTE DATA SOURCES
#   For Working locally, the below integrations have been setup as postgres foreign data servers
#####
SSH_KEY_PATH="~/.ssh/"
SSH_PORT=1022

#####
# A key to access other node sessions to remotely run scripts
#####
FIELDSETS_SESSION_KEY="fieldsets_rsa"

# Same as $POSTGRES_ prefixed variables.
FIELDSETS_DB="postgres"
FIELDSETS_DB_VERSION="15"
FIELDSETS_DB_HOST="172.28.0.7"
FIELDSETS_DB_PORT=5432
FIELDSETS_DB_USER="postgres"
FIELDSETS_DB_PASSWORD="fieldsets"
FIELDSETS_DB_NAME="fieldsets"
FIELDSETS_DB_SCHEMA="fieldsets"

# Same as $CLICKHOUSE_ prefixed variables.
FIELDSETS_STORE="clickhouse"
FIELDSETS_STORE_VERSION="25.6"
FIELDSETS_STORE_HOST="172.28.0.5" # Same as $CLICKHOUSE_HOST host.
FIELDSETS_STORE_USER="fieldsets"
FIELDSETS_STORE_PASSWORD="fieldsets"
FIELDSETS_STORE_NAME="fieldsets"
FIELDSETS_STORE_SCHEMA="fieldsets"

# If enabled, set up DB Sychronization Triggers. 
# Any write from the source schema will trigger inserts into identical tables of target schema.
# This is useful for writing data to an FDW after confirming results locally. Be careful with your write permissions.
ENABLE_DB_SYNC=false
DB_SYNC_SOURCE_SCHEMA=fieldsets
DB_SYNC_TARGET_SCHEMA=public # Will create schema if does not exist.
