#!/usr/bin/env bash
# Copy this file to .env in this directory. These are all default values (unless specified in an adjacent comment otherwise) and will be set even if not defined in .env

# Fieldsets Version. Version Numbering TBD.
VERSION="latest"
ENVIRONMENT="dev-local"
CONTAINER_REGISTRY="fieldsets" # Can set to DNS of registry host

# Set these to false on production to enable only pipeline events to the log
DEBUG_MODE="true"
LOGGING_ENABLED="false"

# Local user ids to manage permissions
# Use `id -u` and `id -g` on a mac

LOCAL_UID=1000
LOCAL_GID=1000

# Valid Time Zone strings found here https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TIMEZONE=America/New_York

# PATH Variables
FIELDSETS_SRC_PATH="./src/"
FIELDSETS_LIB_PATH="./lib/"
FIELDSETS_PLUGINS_PATH="./plugins/"

# Fieldsets Local Network Configuration
FIELDSETS_LOCAL_CONFIG_PATH=./
FIELDSETS_LOCAL_HOST=172.28.0.6
FIELDSETS_NETWORK_SUBNET=172.28.0.0/24

# Set to true if you'd like to connect to the container CLI. Otherwise the container will exit upon command completeion.
# Set to true if you'd like to use this as a local work environment.
ENABLE_TERMINAL="true"

# Event Logger
LOGGER_HOST="172.28.0.2"
LOGGER_PORT="24224"

#####
# FIELDSETS_LOCAL REMOTE DATA SOURCES
#   For Working locally, the below integrations have been setup as postgres foreign data servers
#####
SSH_KEY_PATH=~/.ssh/

#####
# FIELDSETS DOCKER INTEGRATIONS
#   - The below variables represent variouse docker integrations that have been setup to run with fieldsets local, and can be added as submodules
#####

# https://github.com/Fieldsets/docker-postgres
# Postgres Container Vars
POSTGRES_VERSION=14
POSTGRES_CONFIG_PATH=./config/postgres/
POSTGRES_USER=postgres
POSTGRES_PASSWORD=fieldsets
POSTGRES_HOST="172.28.0.7"
POSTGRES_PORT=5432
POSTGRES_DB=fieldsets
# Predefined Roles for various PG tasks.
POSTGRES_READER_ROLE="fieldsets_reader_role"
POSTGRES_READER_ROLE_PASSWORD=""
POSTGRES_WRITER_ROLE="fieldsets_writer_role"
POSTGRES_WRITER_ROLE_PASSWORD=""
POSTGRES_TRIGGER_ROLE="fieldsets_trigger_role"
POSTGRES_TRIGGER_ROLE_PASSWORD=""


# https://github.com/Fieldsets/docker-clickhouse
# This is utilized in Fieldsets's ML infrastructure
# Clickhouse Container Vars
CLICKHOUSE_ENABLED: false # Disabled by default.
CLICKOUSE_VERSION=22
CLICKHOUSE_CONFIG_PATH=./config/clickhouse/
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=fieldsets
CLICKHOUSE_HOST=172.28.0.5
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=fieldsets

# If enabled, set up DB Sychronization Triggers. 
# Any write from the source schema will trigger inserts into identical tables of target schema.
# This is useful for writing data to an FDW after confirming results locally. Be careful with your write permissions.
ENABLE_DB_SYNC=false
DB_SYNC_SOURCE_SCHEMA=fieldsets
DB_SYNC_TARGET_SCHEMA=public # Will create schema if does not exist.
