#!/usr/bin/env bash
# Copy this file to .env in this directory. These are all default values (unless specified in an adjacent comment otherwise) and will be set even if not defined in .env

# You can load all sample data if you would like to play with some other data sets. Use 0 for False, 1 for True. By default we just use the crunchbase data set for our example.
MONGO_LOAD_SAMPLE_DATA=0
MONGO_USER
MONGO_PASSWORD
MONGO_HOST
MONGO_PORT

POSTGRES_HOST
POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_PORT
POSTGRES_DB