# This is for the standalone deployment used in fieldsets local.
# If you are using atlas see here: https://docs.mongodb.com/manual/reference/connection-string/
MONGO_DB_URI=mongodb://fieldsets:fieldsets@localhost:27017/fieldsets?authSource=admin&retryWrites=true&w=majority
AUTH_STRING=auth_string